* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Jersey 10", "Jost", Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #c5c5c5;
    justify-content: center;
    align-items: center; 
    color: rgb(255, 255, 255);
    
}

main {
	
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: xx-large;
}

h1, h2 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik Pixels", "Jost", sans-serif;
}

p {
    font-size: 18pt;
    text-indent: 2rem;
    text-align: justify;
	text-shadow: 2px 2px 0px black;
}

ol, ul {
	font-size: 18pt;
	text-shadow: 2px 2px 0px black;
}

.quote {
    font-size: 24pt;
    text-align: center;
    width: 100%;
    color: rgb(187, 187, 187);
    text-shadow: rgb(99, 99, 99) 3px 3px 1px;
}

.vignette {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 999;

    background: radial-gradient(
        ellipse at center,
        rgba(0,0,0,0) 45%,
        rgba(0,0,0,0.3) 85%,
        rgba(0,0,0,0.7) 100%
    );
}

.big-spacer {
	height: 5000vh;
}

.content-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
    height: 100%;
    justify-self: center;
    padding: 1rem 2rem;
    border: double 10px rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
}

.ugly-text {
    font-family: "Coral Pixels", sans-serif;
	font-size: 14pt;
}

.shaky-word {
    display: inline-block;
}

.shaky-letter {
    display: inline-block;
    transition: transform .75s ease;
    margin: 0;
    line-height: fit-content;
    transform-origin: center;
    animation: float 3s ease-in-out infinite;
    cursor: pointer;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.9);
}

@keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-5px); }
}


.fade-in {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.audio-player {
	position: fixed;
	left: 0;
	bottom: 0;
}